<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>view</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/ol.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<div class="container" id="map">

</div>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="scripts/ol.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
